/* ### Primary

Bright Red: hsl(12, 88%, 59%)
Dark Blue: hsl(228, 39%, 23%)

### Neutral

Dark Grayish Blue: hsl(227, 12%, 61%)
Very Dark Blue: hsl(233, 12%, 13%)
Very Pale Red: hsl(13, 100%, 96%)
Vary Light Gray: hsl(0, 0%, 98%)
 */
:root {
    --header-text: hsl(228, 39%, 23%);
    --normal-text: hsl(227, 12%, 61%);
    --button: hsl(12, 88%, 59%);
    --box: hsl(0, 0%, 98%);
}


/* Global Style  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: 'Be Vietnam Pro', sans-serif;
    position: relative;

}

.overflow {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}


.container {
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
}

.text .headers, .headers {
    font-size: 36px;
    font-weight: 700;
    color: var(--header-text);
    margin-bottom: 33px;
}


.texts {
    color: var(--normal-text);
    line-height: 26px;
    margin-bottom: 33px;
}

ul {
    list-style: none;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }

}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }

    .text .headers {
        font-size: 45px;
    }

    .text .texts {
        width: 350px;
        margin-bottom: 50px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.rounded-btn {
    padding: 12px 25px;
    text-align: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background-color: var(--button);
    color: white;
    font-size: 13px;
}

.btn {
    cursor: pointer;
}

.btn.rounded-btn:hover {
    opacity: 0.8px;
}

/* Global Style  */

/*Start Header Style   */


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow-x: hidden;
    height: 35px;
}

.hamburger {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.small-menu {
    position: absolute;
    background-color: white;
    width: 90%;
    top: -400px;
    left: 18px;
    text-align: center;
    padding: 40px;
    transition: top 0.5s;
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -ms-transition: top 0.5s;
    -o-transition: top 0.5s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.show {
    top: 40px !important;

}

.small-menu li {
    margin-bottom: 25px;
    list-style: none;
    font-weight: 500;
    color: var(--header-text)
}

.back {
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgb(0 0 0 / 31%) 100%);
    z-index: -99;
}

.availble {
    display: block !important;
}

.tablet-bg {
    position: absolute;
    width: 440px;
    right: -125px;
    top: -130px;
    z-index: -9999;
}

.desktop-menu {
    display: none;
}

@media (min-width: 992px) {
    .menu {
        display: none;
    }

    .tablet-bg {
        width: unset;
        right: -140px;
        top: -200px;
    }

    .desktop-menu {
        display: flex;
        align-items: center;
        gap: 200px;
    }

    .des-links {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 30px;
        color: var(--header-text);
    }


}

/*  End Header Style  */
/*  Start Main section Style   */

.main .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 33px;
    margin-bottom: 80px;
}

.main .container img {
    width: 320px;
    grid-area: 1 / 1 / 2 / 2;
}

.main .container .text {
    grid-area: 2 / 1 / 3 / 2;
    text-align: center;

}

@media (min-width: 992px) {

    .main {
        margin: 150px auto;
    }



    .main .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 33px;
        grid-row-gap: 0px;
    }

    .main .container img {
        width: unset;
        grid-area: 1 / 2 / 2 / 3;
    }

    .main .container .text {
        grid-area: 1 / 1 / 2 / 2;
        text-align: left;
    }



}

/*  End Main section Style   */

/*  Start Diff section Style   */
.diffrances {
    margin-bottom: 80px;
}

.diffrances .container {
    position: relative;
    overflow: hidden;
}

.diffrances .contnaint .text {
    text-align: center;
}

.diffrances .diff-container .title-bar {
    background: #fef0ec;
    display: flex;
    align-items: center;
    color: #262d51;
    font-size: 13px;
    gap: 10px;
    width: 375px;
    border-radius: 15px;
}

.diffrances .diff-container .sub-diff-card .texts {
    margin-top: 12px;
}


@media (min-width: 992px) {
    .diffrances {
        margin-bottom: 150px;
    }

    .diffrances .contnaint {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 44px;
        grid-row-gap: 0px;
    }

    .diffrances .contnaint .text {
        grid-area: 1 / 1 / 2 / 2;
        text-align: left;
    }

    .diffrances .contnaint .text .headers {
        font-size: 40px;
    }

    .diffrances .contnaint .diff-container {
        grid-area: 1 / 2 / 2 / 3;
    }

    .diffrances .diff-container .title-bar {
        background: none;
        width: unset;
        gap: 29px;
    }

    .diffrances .diff-container .sub-diff-card .texts {
        padding-left: 92px;
    }
}

/*  End Diff section Style   */


/*  Srart Coursal section Style   */
.carousel {
    text-align: center;
}

.carousel .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-bottom: 30px;
}


button.splide__pagination__page {
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    background-color: var(--button);
}

.splide__list {
    margin-top: 60px !important;
}

.splide__pagination {
    gap: 10px;
}

.carousel .box {
    white-space: normal;
    width: 350px;
    position: relative;
    background-color: var(--box);
    padding: 70px 20px 20px;
    text-align: center;
    margin-bottom: 25px;
}

.carousel .box img {
    position: absolute;
    top: 0%;
    left: 50%;
    translate: -50% -50%;
    width: 80px;
}

.carousel .box h4 {
    margin-bottom: 25px;
    color: var(--header-text);
}

.carousel .box .texts {
    font-size: 14px;
    margin-bottom: unset;
}

.carousel span.btn.rounded-btn {
    margin-top: 15px;
}

@media (min-width:992px) {

    .carousel .slider {
        /* display: flex; */
    }
}

/*  End Coursal section Style   */

/*  Start simplify section Style   */
.simplify {
    background-image: url("../images/bg-simplify-section-mobile.svg");
    background-color: var(--button);
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    text-align: center;
    margin-top: 60px;
}

.simplify .container {
    padding: 95px 28px;
}

.simplify .header {
    font-size: 36px;
    line-height: 50px;
}

.simplify .btn {
    font-weight: 700;
    color: var(--button);
    background-color: white;
    width: fit-content;
}

@media (min-width:992px) {
    .simplify {
        text-align: left;
        background-image: url("../images/bg-simplify-section-desktop.svg");
        background-size: cover;
        background-position: bottom;
    }


    .simplify .container {
        display: grid;
        grid-template-columns: 2fr repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        align-items: center;
        padding: 40px 28px;
    }

    .simplify .header {
        grid-area: 1 / 1 / 2 / 2;
    }

    .simplify .btn {

        grid-area: 1 / 3 / 2 / 4;
    }

}

/*  End simplify section Style   */
/* Start footer  section Style   */
footer {
    background-color: hsl(233, 12%, 13%);

}

footer .container {
    padding: 30px 24px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: white;
}

.social {
    grid-area: 3 / 1 / 4 / 2;
}

.nav-links {
    grid-area: 2 / 1 / 3 / 2;
    margin-top: 35px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.nav-links ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: hsl(0, 3%, 94%);
}

.update {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.update input {
    flex: 1;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
}

.update button {
    border: none;
}

footer .social {
    text-align: center;
    margin-bottom: 50px;
}

footer .social .links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 45px;
    gap: 20px;
}

footer .links li img {
    width: 32px;
}

.c {
    font-size: 12px;
    color: #c3c3c3;
    text-align: center;
}

@media (min-width:992px) {

    footer .container {
        padding: 50px 24px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 0.1fr;

    }

    .social {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .social .links {
        justify-content: flex-start;
    }

    footer .social {
        justify-content: space-between;
        margin-top: 35px;
        margin-bottom: unset;
    }

    footer .social .logo-footer {
        width: 146px;
    }

    footer .social .links {
        margin: unset;
    }

    .nav-links {
        grid-area: 1 / 2 / 2 / 3;
    }

    .update {
        margin-top: 35px;
        align-items: flex-start;
        grid-area: 1 / 3 / 2 / 4;
    }

    .c {
        grid-area: 2 / 1 / 3 / 4;
        text-align: right;
    }
}

/* End footer  section Style   */


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}